#!/usr/bin/env python
PACKAGE='deteksi_bola'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#           Name                            , Type      , Reconfiguration level     , Description                   , Default   , Min   , Max
gen.add("lower_h"                           , int_t     , 0                         , "Lower H"                     , 11        , 0     , 180)
gen.add("upper_h"                           , int_t     , 0                         , "Upper H"                     , 25        , 0     , 180)
gen.add("lower_s"                           , int_t     , 0                         , "Lower S"                     , 129       , 0     , 255)
gen.add("upper_s"                           , int_t     , 0                         , "Upper S"                     , 232       , 0     , 255)
gen.add("lower_v"                           , int_t     , 0                         , "Lower V"                     , 0         , 0     , 255)
gen.add("upper_v"                           , int_t     , 0                         , "Upper V"                     , 255       , 0     , 255)

exit(gen.generate(PACKAGE, "deteksi_bola", "hsv"))
